@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root{
    --primary-color:#FFD55E;
    --dark-gray:#64748b;
    --off-white:#e2e8f0;
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    
}

body{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer{
  margin-top: auto;
}

.text-input{
  padding: 0.5rem;
  width: 80%;
  display: block;
  height: 10vh;
}

.container-center{
  max-width: 800px;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

